parameters:
    level: 0
    paths:
        - .
    excludePaths:
        - vendor/
        - .github/
        - .git/
    bootstrapFiles:
        - .github/workflows/phpstan-stubs.php
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
